<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Belstaff">
  <test thread-count="5" name="checkoutpagevalidations">
    <classes>
      <class name="BELSTAFF.checkoutpage"/>
    </classes>
  </test> <!-- checkoutpagevalidations -->
</suite> <!-- Belstaff -->
